<div class="col" *ngIf="prodotto">
  <div class="card">
    <img [src]="prodotto.image" [alt]="prodotto.title" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">
        {{prodotto.title}}
      </h5>
      <p class="card-text">
        Prezzo : {{prodotto.price | currency}}
      </p>
      <app-rating [rating]="prodotto.rating"></app-rating>
      <div class="d-flex mt-2">
        <button class="btn btn-primary me-2" (click)="ps.aggiungiACarrello(prodotto)">
          <i class="bi bi-cart-plus"></i>
        </button>
        <a [routerLink]="['dettaglio', prodotto.id]"
          class="btn btn-warning">
          Vai al dettaglio
        </a>
      </div>
    </div>
  </div>
</div>